*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}
.hero{
  width: 100%;
  height: 100vh;
  background: url('https://images.unsplash.com/photo-1506744038136-46273834b3fb?ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxzZWFyY2h8Mnx8bmF0dXJlfGVufDB8fDB8fHww&auto=format&fit=crop&w=800&q=60') no-repeat center center/cover;
  padding: 10px 10%;
  overflow: hidden;

}
nav{
  padding: 10px;
  display: flex;
  align-items: center;
  margin: 5px;
  justify-content: space-between;
}
.logo{
  width: 140px;
}
nav ul li{
  display: inline-block;
  list-style: none;
  margin: 10px 20px;

}
nav ul li a{
  text-decoration: none;
  color: #333;
  font-weight: 400;
  font-size: 20px;
  transition: 0.3s;
}
.btn{
  text-decoration: none;
  color: #333;

}